.container {
  max-width: 1320px;
  margin: auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2.5rem;
}

.white-section {
  position: absolute;
  top: 0;
  z-index: -1;

  background-color: var(--box-bg);
  width: 100%;
  height: 724px;
  padding-bottom: 8rem;
}

.title {
  margin-top: 9rem;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.title h1 {
  font-size: 3.5rem;
  margin: 0;
}

.logo {
  height: 56px;
}

.title-description {
  font-size: 1.4rem;
  font-weight: 500;

  /* width: 760px; */
  margin: 1.5rem 0;

  display: flex;
  flex-direction: column;
}

.title-description p:first-child {
  align-self: flex-start;
  /* left */
}

.title-description p:last-child {
  align-self: flex-end;
  /* right */
}

.title-description p {
  margin: 0px;
  line-height: 200%;
}

.intro-container {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  line-height: 200%;

  margin: 8rem auto 13rem;
  width: 100%;
}

.landing-idk {
  height: 300px;
  width: 18rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.intro-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.intro-title h2 {
  font-size: 2rem;
}

.intro-description {
  padding-left: 1rem;
  width: 100%;
  word-break: keep-all;
  font-size: 1.125rem;
  font-weight: 500;
}

.intro-description ul {
  padding-left: 1.5rem;
}

.ad-flex{
  width: 100%;
  margin: 8rem auto 0rem;

  display: flex;
  gap: 1.5rem;
}

.ad-title {
  margin-bottom: 5rem;
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  line-height: 200%;
}

.ad-title h2,
.ad-title-r h2 {
  font-size: 2rem;
}

.ad-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  padding-left: 1rem;

  font-size: 1.125rem;
  font-weight: 500;
}

/* JOIN */
.floating-nav {
  position: sticky;
  top: 1.5rem;
  margin-top: 1.5rem;

  width: 100%;
  height: fit-content;
  box-sizing: border-box;

  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 3rem;
}

.landing-navigation {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.landing-navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 500;

  cursor: pointer;
}

.landing-menu {
  width: 1.5rem;
  height: 1.5rem;

  padding: 1rem;
  border-radius: 1.5rem;
  background: color-mix(in srgb, var(--primary) 16%, var(--bg) 84%);
}

.box p {
  width: 80%;
  line-height: 150%;
  margin: 0;
  text-align: center;
}

.box {
  width: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--bg-trans);
  border: 1px solid var(--border);
  border-radius: 1.5rem;
  box-sizing: border-box;
  backdrop-filter: blur(0.5rem);
  font-size: 1.125rem;
  font-weight: 600;
}

.kakao_btn {
  background-color: #FEE500;
  border-radius: 0.75rem;
  height: 3rem;
  width: 100%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
}

.kakao_btn img {
  height: auto;
  width: 1.25rem;
}

.google_btn {
  background-color: white;
  border-radius: 0.75rem;
  height: 3rem;
  width: 100%;
  border: 1px solid #747775;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
}

.google_btn img {
  height: 1.25rem;
  width: 1.25rem;
}