.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 424px;
  height: fit-content;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 1.5rem;
}

.login-logo {
  height: 3rem;
  margin-top: 3rem;
}

.login-type {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-id {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 500;
}

.login-input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  border: 1px solid var(--border);
  border-radius: 0.75rem;
}

.login-id span{
padding-left: 1rem;

  color: var(--text-highlight);
  font-size: 0.75rem;
}

.login-id strong{
  color: var(--danger);
  font-size: 0.75rem;
}

.login-divide {
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-size: 0.75rem;
  color: var(--text-highlight);
}

.divide-slave {
  width: 100%;
  height: 1px;

  background-color: var(--text-highlight);
}

.join-btn {
  background-color: var(--border);
  border-radius: 0.75rem;
  height: 3rem;
  width: 100%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
}