.profile {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 1rem;

  background-color: var(--bg);
  border-left: 1px solid var(--border);
  box-sizing: border-box;
}

.profile-content {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-set {
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.set-icons {
  padding: 1rem;
  background: var(--bg) transparent 100;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.set-icons:hover {
  background: var(--btn-prim);
}

.profile-master {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-account {
  position: relative;

  width: 136px;
  height: 136px;

  font-size: 1rem;
}

.glowing-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.glowing-container img {
  position: relative;
  /* width: 100%; */
  z-index: 2;

  display: block;

  border-radius: 8.5rem;
}

.glowing-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Use the same image as the glow source */
  background-image: var(--profile-url);
  background-size: cover;
  background-position: center;

  /* The "Magic" filters */
  filter: blur(0.5rem) brightness(1.2) saturate(1);
  opacity: 0.72;

  /* Place it behind the main image */
  border-radius: 50%;
  
  z-index: -1;
  transform: scale(1.12);
}

.profile-pic {
  width: 8.5rem;
  height: 8.5rem;

  border-radius: 8.5rem;
}

.profile-premium {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  width: 2.5rem;
  height: 1.5rem;

  text-align: center;
  background-color: var(--warning-highlight);
  border: 2px solid var(--warning);
  border-radius: 1rem;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-stats {
  width: 100%;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid var(--border);
}

.profile-stats hr {
  width: 1px;

  background-color: var(--border);
  border: none;
}

.stats-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
}

.total-description {
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid var(--border)
}

.total-description span:last-child {
  font-size: 1rem;
  font-weight: 500;
}

.description-slave {
  width: 100%;
  text-align: end;
}

.description-slave span {
  font-size: 1rem;
  font-weight: 500;
}

.gain {
  color: var(--secondary);
}

.loss {
  color: var(--danger);
}

.profile-stock {
  height: fit-content;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--bg);
  border-radius: 0.75rem;
  border: 1px solid var(--border);
  box-sizing: border-box;
}

.stock-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stock-content {
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile-stock h2 {
  font-size: 1.125rem;
  font-weight: 600;
}