@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  font-family: 'Pretendard';
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  height: 56px;
  width: 15%;
  border-radius: 8px;
}

.landing-title {
  display: flex;
}

