@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  font-family: 'Pretendard';
  min-width: 200px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title h1 {
  font-size: 3.5rem;
}

.logo {
  height: 56px;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

.flx-col span {
  padding-left: 8px;
  font-size: 0.8rem;
  color: #5e5e5e;
}

.flx-col input {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: whitesmoke;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  height: 40px;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.danger {
  background-color: #ff004c;
}

.normal {
  background-color: #0044ff;
}