@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --primary: #4775ff;
  --bg: #FFFFFF;
  --secondary: #1FFF78;
  --text: #0B1532;
  --danger: #FF4766;
  --warning: #FFBF47;

  --primary-70: hsla(225, 100%, 64%, 0.7);

  --bg-grad: linear-gradient(135deg, #C2D1FF, #7094ff);
  --progress-bar: linear-gradient(0deg, color-mix(in oklab, var(--primary), transparent 90%), color-mix(in oklab, #001F7A, transparent));
  --btn-prim: linear-gradient(90deg, var(--primary-70) 25%, hsla(225, 100%, 88%, 0.70) 100%);
  --text-highlight: color-mix(in oklab, var(--text) 64%, var(--bg));
  --border: color-mix(in oklab, var(--text) 16%, transparent);
  --box-bg: color-mix(in oklab, var(--bg) 80%, transparent);

  color: var(--text);
}

* {
  font-family: 'Pretendard', 'Spoqa Han Sans Neo', 'sans-serif';
  margin: 0;
  padding: 0;
  word-break: keep-all;
  color: var(--text);
}

body {
  margin: auto;
  background: var(--bg-grad);
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
}